.contenedor {
    width: fit-content;
    min-width: 100px;
    min-height: 100px;
}

.max-contenedor {
    margin: 10px;
    border: 1px solid black;
}

.sub-contenedor {
    border: 1px solid blue;
    display: flex;
}

.sub2-contenedor {
    width: 100px;
    height: 100px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

img {
    width: 100px;
    height: 100px;
}