
.contenedor {
    width: fit-content;
    min-width: 100px;
    min-height: 100px;
    background-color: aqua;
    padding: 10px;

}

.max-contenedor {
    margin: 10px auto;
    border: 1px solid black;
    background-color: blueviolet;

}

.sub-contenedor {
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub2-contenedor {
    width: 100px;
    height: 100px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: violet;
}

img {
    width: 100px;
    height: 100px;
}