* {
  font-size: 50px;
  font-family:monospace;
}
td {
  border: 2px solid black;
  width: 50px;
}

.vocal {
  background-color: blue;
}

.espacio {
  background-color: red;
}

.no_repetidos {
  background-color: red;
}