*{
    box-sizing: border-box;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
}
td{
    border: 2px solid black;
    width: 150px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.negro *, .negro{
    background-color: rgb(92, 92, 92);
}
.blanco *{
    background-color: white;
}
.gris *{
    background-color: rgb(204, 203, 203);
}
div{
    margin: 10px;
}