* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: 0px;
}


#navbar {
    margin: 0 auto;
    background-color: rgb(74, 69, 69);
    width: 100%;
    height: max-content;
    min-width: 700px;
}


#navbar div,a {
    display: inline-block;
    width: 100px;
    font-size: 20px;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}
#login-div {
    display: inline-block;
    margin-right: 80px;
    float: right;
}

#navbar div img {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 40px;
}

.submenu {
    visibility: hidden;
    position: absolute;
    left: 100px;
    top: 55px;
    border-top: 3px solid rgb(255, 68, 0);
}
.submenu div{
    background-color: rgb(91, 88, 88);  
    border-top:0.5px dotted;
    margin: -1px;
    text-align: center;
}

.submenu div {
    padding-bottom: 5px;
}
#raza1 {
    border: none;
}

#item:hover .submenu {
    visibility: visible;
}

.contenido {
    width: 100%;
}


.contenido-izquierda {
    margin-top: 10px;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.contenido-izquierda .gato-mes  {
    overflow: hidden;
    width: 90%;
    margin-left: 10px;
}

.gato-mes {
    border: 4px solid rgb(91, 88, 88);
    border-radius: 10px;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius:0px ;
}

.descripcion {
    border-top: 2px solid rgb(91, 88, 88);
    background-color: rgb(124, 120, 120);
}

.descripcion p {
    font-size: 18px;
    color: white;
}
.contenido-derecha {
    margin-top: 10px;
    display: inline-block;
    background-color: aquamarine;
    width: 70%;
    height: 100px;
    vertical-align: top;
}