.Calculadora {
    margin: 0 auto;
    width: max-content;
}

#input-field {
    width: 230px;
    height: 50px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: right;
    margin: 5px;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    background-color: #eee;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
}

.clear {
    background-color: rgb(245, 67, 67);
}

.row {
    display: flex;
}


.button:hover {
    background-color: #e2e1e1;
}

.clear:hover{
    background-color: rgba(255, 0, 0, 0.601);
}


.button:active {
    background-color: #aaa;
    box-shadow: inset 3px 3px 7px 0px rgba(0,0,0,0.5);
}

.clear:active{
    background-color: rgba(255, 0, 0, 0.601);
    box-shadow: inset 3px 3px 7px 0px rgba(0,0,0,0.5); 
}