*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre{
    display: flex; 
    flex-flow: column nowrap; 
}
.header{
    background-color: #000;
    display: flex;
    flex-flow: column nowrap;
}
.menu{
    background-color: #2d4059;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center; 
}
/* https://the-echoplex.net/flexyboxes/ para visualizar la distribución de las cajas hijo dentro del contenedor padre. */
.logo{
    background-color: #ea5455;
    flex: 0 1 auto;
    height: 50px;
    width: fit-content;

}

a {
    display: flex;
    margin: 0;
    padding: 0;
}
a img {
    width: 30px;
    margin: 0;
    padding: 0;
}
.nav{
    background-color: #ea5455;
    flex: 5 1 auto;
    height: 50px; 
    display: flex;
}
.social{
    background-color: #ea5455;
    flex: 1 1 auto;
    height: 50px; 
}
.texto-principal{
    background-color: #f07b3f;
}
h1{
    background-color: #ffd460;
}

.section{
    background-color: #000;
    display: flex;
}
.articulos{
    background-color: #4e4e6a;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}
.article{
    background-color: #1f6cb0;
    flex: 1 1 40%;
}
.navegacion{
    background-color: #70a3c4;
    flex: 1 1 100%;
}
.aside{
    background-color: #7DCE13;
    flex: 1 1 auto;
}
.publicidad{
    background-color: #2B7A0B;
}

.footer{
    background-color: #000;
    display: flex;
    justify-content: center;
}
.pie{
    font-size: 0;
    padding: 0;
    margin: 0;

}
.pie img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}