
#header {
    text-align: center;
    width: 100%;
}

.texto-cabecera, .texto-cabecera span{
    font-size: 300%;
}

#main {
    padding: 3rem;
    text-align: center;
}
span.mini-cine{
    font-family: none;
    font-style:oblique;
    font-size: 20px;
}
/* Portada Inicio */
.portada-inicio {
    margin: 2%;
    text-align: start;
    display: inline-block;
}

.portada-inicio span{
    font-size: 20px;
}



.boton-inicio {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
}




.boton-inicio img {
    width: 40px;
}
.portada-sala {
    width: 40px;
}

td img {
    width: 40px;
}


.boton-inicio {
    background-color: blue;
    padding: 20px;
    display: flex;
}

.ocupado img {
    background-color: rgb(255, 0, 0);
    border-radius: 10%;
    padding: 3px;
}
.seleccionado img {
    background-color: rgb(0, 122, 0);
    border-radius: 10%;
    padding: 3px;
}

.libre img {
    background-color: rgb(0, 255, 0);
    border-radius: 10%;
    padding: 3px;
}