body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#peliculas, #butacas {
    margin-top: 20px;
}

select, button {
    margin: 10px;
}

table {
    margin: 10px auto;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 25%;
}

td.libre {
    background-color: rgb(40, 238, 40);
    cursor: pointer;
}

td.ocupado {
    background-color: red;
}
