body {
    background-color: #484848;
}


#cine {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.cotenedorPeliculas {
    width: 60%;
}



.portada {
    width: 200px;
    height: 300px;
    margin: 10px;
}

.portada:hover {
    transform: scale(1.1);
}